@import "../../../styles.scss";


header nav .navbar-nav .nav-link{
    font-family: "Arvo-Bold" !important;
    font-size: 22px !important;
    line-height: 32px !important;
    padding-left: 1rem;
    padding-right: 1rem;    
}

nav{
    position: absolute !important;
    z-index: 1;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    position: relative !important;
    left: 130% !important;
}

.navbar-light .navbar-nav .nav-link {
  color: $blanco;
}