<section id="Inicio-Restaurant">
 <div class="Restaurant-profile">
   <app-header></app-header>
     
    <div class="container-title-restaurant">
      <div class="zona-restaurant">
        <div class="container-name"> 
          <div class=rectangle-name>   
            <h3 class="name-restaurant">Restaurante Sinpo Woori Mandoo</h3>
          </div> 
        
        </div>  
        <div class="restaurant-dates"> 
          <div class="rectangle-dates">
            <div class="dates-img1-ubicación">
              <img src="../../../../assets/img/pin.svg" width="45" height="47.24" alt="Pin de ubicación">
              <h3 class="direction">Dirección:37-7 Insa-dong,Jongno-gu,Seoul,Corea del Sur</h3> 
            </div> 
            <div class="dates-img2-calender">  
              <img src="../../../../assets/img/calendar.png" width="45" height="47.24" alt="Calendario">
              <h3 class="Calender"> Horario de atencion: 11:00 AM - 10:00 PM</h3> 
            </div>
            <div class="dates-img3-clock">
              <img src="../../../../assets/img/clock.png" width="45" height="47.24" alt="Tiempo de espera">   
              <h3 class="Clock">Tiempo estimado de espera: 30 min</h3>
            </div> 
            <div class="dates-img4-car">
              <img src="../../../../assets/img/sports-car.png" width="45" height="47.24" alt="Vehiculo para el domicilio">
              <h3 class="car">Tiempo estimado del domicilio: 40 min</h3>
            </div>

          </div> 
        
        </div>   


      </div>
        
    
    </div>
    <!--Menu restaurante-->
    <section id="menú mt-10 pt-10">
      <div class="container-menú">
        <div class="rectangle-info-menú">
         <h1 class="menú-restaurant-title">Menú</h1>
          <div class="container-restaurant-dishes"> 
            <div class="container-restaurant-dishe">
              <div class="card mb-3" style="width: 18rem;">
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <img src="../../../../assets/img/dish1a.jpg" width="335px" height="235px" class="card-img-top img-fluid" alt="platillo asiatica">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body"> 
                      <h5 class="card-title">Puente Tteokbokki coreano picante</h5>
                     <div class="container-description-dishes">
                        <p class="card-text-description">Descripción: Contiene pasteles de arroz coreanos.</p>
                      </div>
                      <div class="container-dishes-price">
                        <p class="card-text">$3000 - $5000</p>
                        <a class="btn container-dishes-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                      </div>
                    
                    </div>  


                  </div>
                
                
                
                </div><!--fin row1-->
                
              
              </div><!--fin card1-->
              

            </div><!--fin dishe1-->
            <!--Plato 2-->

            <div class="container-restaurant-dishe2">
              <div class="card mb-3" style="width: 18rem;">
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <img src="../../../../assets/img/dish2a.jpg" width="335px" height="235px" class="card-img-top img-fluid" alt="platillo asiatica">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body"> 
                      <h5 class="card-title">Estofado de alitas de pollo</h5>
                     <div class="container-description-dishes">
                        <p class="card-text-description">Descripción: Deliciosas alas de pollo ricas en vegetales.</p>
                      </div>
                      <div class="container-dishes-price">
                        <p class="card-text">$1000 - $1200</p>
                        <a class="btn container-dishes-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                      </div>
                    
                    </div>  


                  </div>
                
                
                
                </div><!--fin row2-->
                
              
              </div><!--fin card2-->
              

            </div><!--fin dishe2-->
            <!--Plato 3-->
            <div class="container-restaurant-dishe3">
              <div class="card mb-3" style="width: 18rem;">
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <img src="../../../../assets/img/dishe3a.jpg" width="335px" height="235px" class="card-img-top img-fluid" alt="platillo asiatica">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body"> 
                      <h5 class="card-title">Barco de sushi</h5>
                     <div class="container-description-dishes">
                        <p class="card-text-description">Descripción: Contiene 20 roll,eligir 
                        los tipos que desee.</p>
                      </div>
                      <div class="container-dishes-price">
                        <p class="card-text">$2000- $2500</p>
                        <a class="btn container-dishes-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                      </div>
                    
                    </div>  


                  </div>
                
                
                
                </div><!--fin row3-->
                
              
              </div><!--fin card3-->
              

            </div><!--fin dishe3-->
            <!--Plato 4-->
            <div class="container-restaurant-dishe4">
              <div class="card mb-3" style="width: 18rem;">
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <img src="../../../../assets/img/dish4a.jpg" width="335px" height="235px" class="card-img-top img-fluid" alt="platillo asiatica">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body"> 
                      <h5 class="card-title">Chop suey</h5>
                     <div class="container-description-dishes">
                        <p class="card-text-description">Descripción: Usualmente contiene pollo y vegetales.</p>
                      </div>
                      <div class="container-dishes-price">
                        <p class="card-text">$1000- $1500</p>
                        <a class="btn container-dishes-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                      </div>
                    
                    </div>  


                  </div>
                
                
                
                </div><!--fin row4-->
                
              
              </div><!--fin card4-->
              

            </div><!--fin dishe4-->
            <!--Plato 5-->
            <div class="container-restaurant-dishe5">
              <div class="card mb-3" style="width: 18rem;">
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <img src="../../../../assets/img/dish5a.jpg" width="335px" height="235px" class="card-img-top img-fluid" alt="platillo asiatica">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body"> 
                      <h5 class="card-title">Lumpias</h5>
                     <div class="container-description-dishes">
                        <p class="card-text-description">Descripción: Rollitos envueltos similar a los rollitos de primavera fritos, rellenos de vegetales y/o jamon y queso.</p>
                      </div>
                      <div class="container-dishes-price">
                        <p class="card-text">$600- $700</p>
                        <a class="btn container-dishes-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                      </div>
                    
                    </div>  


                  </div>
                
                
                
                </div><!--fin row5-->
                
              
              </div><!--fin card5-->
              

            </div><!--fin dishe5-->
            <div class="container-restaurant-dishe6">
              <div class="card mb-3" style="width: 18rem;">
                <div class="row no-gutters">
                  <div class="col-md-12">
                    <img src="../../../../assets/img/dishe6a.jpg" width="335px" height="235px" class="card-img-top img-fluid" alt="platillo asiatica">
                  </div>
                  <div class="col-md-10">
                    <div class="card-body"> 
                      <h5 class="card-title">Camarones con brocoli</h5>
                     <div class="container-description-dishes">
                        <p class="card-text-description">Descripción: Contiene brócoli al estilo chino llevan una mezcla de soya y aceite de oliva.</p>
                      </div>
                      <div class="container-dishes-price">
                        <p class="card-text">$1500- $1800</p>
                        <a class="btn container-dishes-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                      </div>
                    
                    </div>  


                  </div>
                
                
                
                </div><!--fin row6-->
                
              
              </div><!--fin card6-->
              

            </div><!--fin dishe6-->

               

          </div> <!--dishes-->
      

        </div>
      </div>
    </section> <!--Fin section menu-->
    
   

  </div>

    
</section>
