@import "../../../../styles.scss";

.container-home-signup{
    position: absolute;
    top: 14%;
    left: 34%;
    width: 25%;
    height: 78%;    
    padding: 26px;        
}

.container-home-signup::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blanco;
    opacity: 0.95;
    border-radius: 10px;
}

.container-home-signup-zone{
    position: relative;
    text-align: center;    
}
.container-home-signup-title{
    font-family: "Arvo-Bold";
    font-size: 28px;    
}

.container-home-button-facebook{
    color: $blanco;
    background-color: #2D5F9A;
    border-color: #2D5F9A;
    font-size: 20px;
    font-family: "Arvo-Bold";
}

.container-home-signup-text{
    font-family: "Arvo-Italic";
    font-size: 12px;
    margin-top: 1rem;
}

.form-control{
    font-family: 'OpenSans-Regular';
}

.container-home-signup-zone-check{
    margin-top: 2rem;    
}

.container-home-signup-zone-check label a{
    font-family: 'OpenSans-Regular';
    font-size: 12px;
}

.container-home-button{
    margin-top: 2rem;
    color: $blanco;
    background-color: $rojo;
    border-color: $rojo;
    font-size: 20px;
    font-family: "Arvo-Bold";
    padding: 5px 4.8rem;
}

.registro{
    margin-top: 1rem;
    font-family: "OpenSans-Regular";
    font-size: 14px;
}

.registro p a{
    color: #007BFF;
}

/*MEDIAQUERIES*/

@media only screen and (max-width:320px){
    .container-home-signup{
        position: absolute;
        top: 17%;
        left: 14%;
        width: 70%;
        height: 78%;
        padding: 26px;
    }
    .container-home-signup-title{
        font-family: "Arvo-Bold";
        font-size: 17px !important;
    }
    .container-home-button-facebook{
        color: #ffffff;
        background-color: #2D5F9A;
        border-color: #2D5F9A;
        font-size: 11px !important;
        font-family: "Arvo-Bold";
    }
    .container-home-button{
        margin-top: 1rem;
        color: #ffffff;
        background-color: #F5394B;
        border-color: #F5394B;
        font-size: 11px !important;
        font-family: "Arvo-Bold";
        padding: 5px 2rem;
    }
    .form-control{
        font-size: 0.7rem;
    }
    .container-home-sign-zone-check{
        margin-top: 1rem;
    }
    .registro{
        margin-top: 1rem;
        font-family: "OpenSans-Regular";
        font-size: 12px;
    }

    .fuente{
        font-size: 0.6rem !important;
    }
    
}

@media only screen and (max-width:375px){
    .container-home-signup{
        position: absolute;
        top: 17%;
        left: 14%;
        width: 70%;
        height: 78%;
        padding: 26px;
    }
    .container-home-signup-title{
        font-family: "Arvo-Bold";
        font-size: 22px;
    }
    .container-home-button-facebook{
        color: #ffffff;
        background-color: #2D5F9A;
        border-color: #2D5F9A;
        font-size: 14px;
        font-family: "Arvo-Bold";
    }
    .container-home-button{
        margin-top: 0.5rem;
        color: #ffffff;
        background-color: #F5394B;
        border-color: #F5394B;
        font-size: 12px;
        font-family: "Arvo-Bold";
        padding: 5px 2rem;
    }
    .form-control{
        font-size: 0.7rem;
    }
    .container-home-sign-zone-check{
        margin-top: 1rem;
    }
    .registro{
        margin-top: 1rem;
        font-family: "OpenSans-Regular";
        font-size: 12px;
    }

    .fuente{
        font-size: 0.7rem;
    }
    
}

@media only screen and (max-width:425px){
    .container-home-signup{
        position: absolute;
        top: 17%;
        left: 14%;
        width: 70%;
        height: 78%;
        padding: 26px;
    }
    .container-home-signup-title{
        font-family: "Arvo-Bold";
        font-size: 22px;
    }
    .container-home-button-facebook{
        color: #ffffff;
        background-color: #2D5F9A;
        border-color: #2D5F9A;
        font-size: 14px;
        font-family: "Arvo-Bold";
    }
    .container-home-button{
        margin-top: 0.5rem;
        color: #ffffff;
        background-color: #F5394B;
        border-color: #F5394B;
        font-size: 12px;
        font-family: "Arvo-Bold";
        padding: 5px 2rem;
    }
    .form-control{
        font-size: 0.7rem;
    }
    .container-home-sign-zone-check{
        margin-top: 1rem;
    }
    .registro{
        margin-top: 1rem;
        font-family: "OpenSans-Regular";
        font-size: 12px;
    }

    .fuente{
        font-size: 0.7rem;
    }
    
}