<section>
    <div class="container-home">
        <app-header></app-header>
        <div class="container-home-signup">
            <div class="container-home-signup-zone">
                <h1 class="container-home-signup-title">Registrarse</h1>
                <button class="btn container-home-button-facebook">Continuar con facebook</button>
                <p class="container-home-signup-text">O registrarse con tu email</p>
                <input class="form-control mb-2" type="text" placeholder="Nombre">
                <input class="form-control mb-2" type="text" placeholder="Apellido">
                <input class="form-control mb-2" type="text" placeholder="Email">
                <input class="form-control" type="password" placeholder="Contraseña">
                <div class="container-home-sign-zone-check">
                    <div class="form-check"></div>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                          Quiero recibir novedades por email
                        </label>
                    </div>
                    <a href="#">Ver los terminos y condiciones</a>
                    <button class="btn container-home-button">Registrarme</button>
                    <div class="registro">
                        <p class="mb-0">¿Ya tienes cuenta? 
                            <a routerLink="/login">Ingresa</a>
                        </p>                    
                    </div>
                </div>                                                
            </div>          
        </div>    
</section>

