<section class="frame-main">
    <div class="container-home">
        <app-header></app-header>

        <div class="position-relative-center-x-y"> 
            <div class="container-main d-flex container-dishe justify-content-center">        
                <table class="table-dishe">
                    <tr><td><img src="../../../assets/img/dishe9.png" alt="image not found" width="334" height="214px"></td></tr>
                    <tr><td align="center" class="h3-title-arvo-bold-26"><div class="h-25">Puntuacion General <span class="five-stars"></span></div></td></tr>
                </table>
                <table class="text-center table-description-dishe">
                    <tr><td class="h3-title-arvo-bold-26">Pizza de Peperroni con aceitunas</td></tr>
                    <tr><td class="p-subtitle-arvo-italic-12">Descripcion: Rica pizza en salsa de tomate con peperroni y aceitunas </td></tr>
                    <tr><td class="h3-title-arvo-bold-26">
                        <div class="d-flex justify-content-center align-items-center">Cantidad: &nbsp;<span class="icon-plus"></span><input class="purchase-amount" type="number" value="1"><span class="icon-less"></span></div></td>
                    </tr>
                    <tr><td align="center"><button class="btn container-home-button">Comprar</button></td></tr>
                </table>
            </div>
            
            <div class="container-main container-comment-dishe bg-white d-flex justify-content-center">
                <table class="text-right table-comment-dishe">
                    <tr>
                        <td align="left" class="h3-title-arvo-bold-26">Comentarios</td>
                        <td></td>
                        <td class="h3-title-arvo-bold-26"><div>Puntuar <span class="five-stars-empty"></span></div></td>
                    </tr>
                    <tr><td colspan="3"><textarea class="rectangle" name="" id=""></textarea></td></tr>
                    <tr>
                        <td align="left" class="h3-title-arvo-bold-26">Nombre de Cuenta</td>
                        <td></td>
                        <td class="h3-title-arvo-bold-26"><div>Puntuacion <span class="five-stars"></span></div></td>
                    </tr>
                </table>
            </div>
        </div>
    </div> 
</section>