@import "../../../../styles.scss";

.container-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 315px;    
    padding: 26px;
    background: rgba(255, 255, 255, 0.4);
}

.h3-title-arvo-bold-26{
    font-family: "Arvo-Bold";
    font-weight: 900; 
    font-size: 26px;    
}
.p-subtitle-arvo-italic-12{
    font-family: "Arvo-BoldItalic";
    font-size: 12px;    
}

.container-home-button{
    margin-top: 2rem;
    color: $blanco;
    background-color: $rojo;
    border-color: $rojo;
    font-size: 15px;
    font-family: "Arvo-Bold";
    padding: 3px 30px;
}

.rectangle{
    max-height: 50px;
    width: 100%;
}

/*MEDIAQUERIES*/

@media only screen and (min-width: 320px) and (max-width: 785px){
    .container-main{
        margin: 0 auto;
        width: 90%;
    }
    .h3-title-arvo-bold-26{
        font-size: 1.2em;    
    }
    .p-subtitle-arvo-italic-12{
        font-size: 0.7em;  
    }
    .container-home-button{
        margin-top: 1rem;
        font-size: 11px;
        padding: 5px 2rem;
    }
    .table-dishe{
        margin-left: 0px;
    }
    .table-dishe img{
       width: 280px;
       height: 210px;
    }
    .table-description-dishe{
        background: rgba(255, 255, 255, 0.6);
        z-index: 100;
    }
    .container-dishe{
        margin-top: -30px;
        height: 550px;
    }
    .table-description-dishe{
        margin-right: 0px;
        /* border: 1px solid black; */
    }
    .container-comment-dishe{
        height: 250px;
        margin-top: -70px;
    }
    section.frame-main, .container-home{
        height: 900px;
    }
    
}

@media only screen and (min-width: 375px) and (max-width: 785px){
    .container-main{

    }
    .h3-title-arvo-bold-26{
   
    }
    .p-subtitle-arvo-italic-12{

    }
    .container-home-button{
        margin-top: 0.5rem;
        font-size: 12px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 785px){
    .container-main{

    }
    .h3-title-arvo-bold-26{

    }
    .p-subtitle-arvo-italic-12{
  
    }
    .container-home-button{
        margin-top: 0.5rem;
        font-size: 12px;
    }
}

@media only screen and (min-width: 786px){
    .table-dishe{
        margin-right: 120px;
    }
    
    .table-description-dishe{
        width: 300px; 
        margin-left: 120px;
    }

    .table-comment-dished{
        width: 70%;
    }
} 