<section>

    <div class="container-home">
        <app-header></app-header>
        
        <div class="position-relative-center-x-y">
            
            <div class="container-main">        
                <div class="d-flex justify-content-center">
                    <table style="margin-right: 120px;">
                        <tr><td><img src="../../../assets/img/dishe9.png" alt="not found" width="334" height="214px"></td></tr>
                        <tr><td class="h3-title-arvo-bold-26"><div class="h-25">Puntuacion General <span class="five-stars"></span></div></td></tr>
                    </table>
                    <table style="width: 300px; margin-left: 120px;">
                        <tr>
                            <td class="h3-title-arvo-bold-26">Pizza de Peperroni con aceitunas</td>
                        </tr>
                        <tr>
                            <td class="p-subtitle-arvo-italic-12">Descripcion: Rica pizza en salsa de tomate con peperroni y aceitunas </td>
                        </tr>
                        <tr>
                            <td class="h3-title-arvo-bold-26">
                                <div class="d-flex align-items-center">Cantidad: &nbsp;<span class="icon-plus"></span><input class="purchase-amount" type="number" value="1"><span class="icon-less"></span></div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><button class="btn container-home-button">Comprar</button></td>
                        </tr>
                    </table>
                </div> 
            </div>
            
            <div class="container-main bg-white">
                <div class="d-flex justify-content-center">
                    <table class="text-right">
                        <tr>
                            <td align="left" class="h3-title-arvo-bold-26">Comentarios</td>
                            <td></td>
                            <td class="h3-title-arvo-bold-26"><div>Puntuar <span class="five-stars-empty"></span></div></td>
                        </tr>
                        <tr>
                            <td colspan="3"><textarea name="" id="" cols="120" rows="5"></textarea></td>
                        </tr>
                        <tr>
                            <td align="left" class="h3-title-arvo-bold-26">Nombre de Cuenta</td>
                            <td></td>
                            <td class="h3-title-arvo-bold-26"><div>Puntuacion <span class="five-stars"></span></div></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div> 

</section>