<section id="inicio">
    <div class="container-home">
      <app-header></app-header>
        <h1 class="container-home-title">Comida a domicilio para llevar</h1>
        <h3 class="container-home-subtitle">Encuentre restaurantes y experiencias gratis</h3>
        <div class="container-home-form">
            <form class="form-inline">            
                <div class="form-group mx-sm-3">                  
                  <input type="text" class="form-control" placeholder="Introduce palabra clave para buscar">
                </div>
                <button type="submit" class="btn container-home-button">Buscar</button>
              </form>
        </div>
        <div class="container-home-steps">         
          <div class="container-home-steps-info">
            <img src="../../../../assets/img/container-step1.svg" alt="">
            <h3 class="container-home-steps-text">1. Elige tu comida</h3>
          </div>                         
          <div class="container-home-steps-info">
            <img src="../../../../assets/img/container-step2.svg" alt="">
            <h3 class="container-home-steps-text">2. Haz tu pedido</h3>
          </div>                         
          <div class="container-home-steps-info">
            <img src="../../../../assets/img/container-step3.svg" alt="">
            <h3 class="container-home-steps-text">3. Recibe tu comida</h3>
          </div>                         
        </div>
    </div>
</section>

<section class="frame-main">

    <div class="d-flex flex-nowrap justify-content-end position-relative-center-x-y"> 
        
        <div class="d-flex flex-wrap justify-content-around container-featured-dishes">
                
            <div class="container-featured-dishe">
                <div class="card">
                <img src="../../../../assets/img/dishe1.jpg" width="280px" height="190px" class="card-img-top" alt="platillo recomendado">
                <div class="card-body">
                    <h5 class="card-title">Puente Tteokbokki coreano picante</h5>
                    <div class="container-featured-price">
                    <p class="card-text">$3000 - $5000</p>
                    <a class="btn container-featured-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>          
                    </div>
                    <div class="container-featured-restaurant">
                    <img src="../../../../assets/img/dish.svg" alt="icono">
                    <p class="container-featured-restaurant-title">Restaurante Sinpo Woori Mandoo</p>
                    </div>          
                    <div class="container-featured-direction">
                    <img src="../../../../assets/img/pin.svg" alt="icono">
                    <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
                    </div>          
                </div>
                </div>
            </div>
            <div class="container-featured-dishe">
                <div class="card" >
                <img src="../../../../assets/img/dishe2.jpg" width="280px" height="190px" class="card-img-top" alt="platillo recomendado">
                <div class="card-body">
                    <h5 class="card-title">Bistec en salsa agridulce con vegetales</h5>
                    <div class="container-featured-price">
                    <p class="card-text">$2000 - $4000</p>
                    <a class="btn container-featured-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>          
                    </div>
                    <div class="container-featured-restaurant">
                    <img src="../../../../assets/img/dish.svg" alt="icono">
                    <p class="container-featured-restaurant-title">Restaurante Sinpo Woori Mandoo</p>
                    </div>          
                    <div class="container-featured-direction">
                    <img src="../../../../assets/img/pin.svg" alt="icono">
                    <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
                    </div>          
                </div>
                </div>
            </div>
                
            <div class="container-featured-dishe">
                <div class="card" >
                <img src="../../../../assets/img/dishe1.jpg" width="280px" height="190px" class="card-img-top" alt="platillo recomendado">
                <div class="card-body">
                    <h5 class="card-title">Puente Tteokbokki coreano picante</h5>
                    <div class="container-featured-price">
                    <p class="card-text">$3000 - $5000</p>
                    <a class="btn container-featured-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>          
                    </div>
                    <div class="container-featured-restaurant">
                    <img src="../../../../assets/img/dish.svg" alt="icono">
                    <p class="container-featured-restaurant-title">Restaurante Sinpo Woori Mandoo</p>
                    </div>          
                    <div class="container-featured-direction">
                    <img src="../../../../assets/img/pin.svg" alt="icono">
                    <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
                    </div>          
                </div>
                </div>
            </div>
            <div class="container-featured-dishe">
                <div class="card" >
                <img src="../../../../assets/img/dishe2.jpg" width="280px" height="190px" class="card-img-top" alt="platillo recomendado">
                <div class="card-body">
                    <h5 class="card-title">Bistec en salsa agridulce con vegetales</h5>
                    <div class="container-featured-price">
                    <p class="card-text">$2000 - $4000</p>
                    <a class="btn container-featured-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>          
                    </div>
                    <div class="container-featured-restaurant">
                    <img src="../../../../assets/img/dish.svg" alt="icono">
                    <p class="container-featured-restaurant-title">Restaurante Sinpo Woori Mandoo</p>
                    </div>          
                    <div class="container-featured-direction">
                    <img src="../../../../assets/img/pin.svg" alt="icono">
                    <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
                    </div>          
                </div>
                </div>
            </div>
            <div class="container-featured-dishe">
                <div class="card" >
                <img src="../../../../assets/img/dishe1.jpg" width="280px" height="190px" class="card-img-top" alt="platillo recomendado">
                <div class="card-body">
                    <h5 class="card-title">Puente Tteokbokki coreano picante</h5>
                    <div class="container-featured-price">
                    <p class="card-text">$3000 - $5000</p>
                    <a class="btn container-featured-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>          
                    </div>
                    <div class="container-featured-restaurant">
                    <img src="../../../../assets/img/dish.svg" alt="icono">
                    <p class="container-featured-restaurant-title">Restaurante Sinpo Woori Mandoo</p>
                    </div>          
                    <div class="container-featured-direction">
                    <img src="../../../../assets/img/pin.svg" alt="icono">
                    <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
                    </div>          
                </div>
                </div>
            </div>
            <div class="container-featured-dishe">
                <div class="card" >
                <img src="../../../../assets/img/dishe2.jpg" width="280px" height="190px" class="card-img-top" alt="platillo recomendado">
                <div class="card-body">
                    <h5 class="card-title">Bistec en salsa agridulce con vegetales</h5>
                    <div class="container-featured-price">
                    <p class="card-text">$2000 - $4000</p>
                    <a class="btn container-featured-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>          
                    </div>
                    <div class="container-featured-restaurant">
                    <img src="../../../../assets/img/dish.svg" alt="icono">
                    <p class="container-featured-restaurant-title">Restaurante Sinpo Woori Mandoo</p>
                    </div>          
                    <div class="container-featured-direction">
                    <img src="../../../../assets/img/pin.svg" alt="icono">
                    <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
                    </div>          
                </div>
                </div>
            </div>

            
        </div>

    </div>
     
</section>
