@import "../../../../styles.scss";

.container-home-title{
 font-family: "Arvo-Bold";
 font-size: 72px;
 text-align: center;
 color: $blanco;
 position: relative;
 top:20%;
 font-weight: 700;
}

.container-home-subtitle{
 font-family: "OpenSans-Regular";
 font-size: 48px;
 text-align: center;
 color: $blanco;
 position: relative;
 top:20%;
 font-weight: 700;
}

.container-home-form{
    position: absolute;
    left: 16%;
    top: 62%;
}

.container-home-steps{
    position: absolute;
    justify-content: space-between;
    width: 100%; 
    display: flex;    
    padding: 0 5rem;
    top: 85%;
}

.container-home-steps-text{
    color: $blanco;
    font-family: "Arvo-Bold";
    font-size: 24px;
}

.container-home-steps-info{
    display: flex;
    align-items: center;
}

.form-inline .form-control {
    display: inline-block;
    width: 700px;
    vertical-align: middle;
    border-radius: 5px;
    font-size: 30px;
    font-family: "OpenSans-Regular";
}

.container-home-button{
    color: $blanco;
    background-color: $rojo;
    border-color: $rojo;
    font-size: 30px;
    font-family: "Arvo-Bold";
}
.btn-primary:hover{
    text-decoration: underline;
}

/**********************************/

.container-featured{
    text-align: center;    
    padding: 24px;
}

.container-featured-title{
    font-family: "Arvo-Bold";
    font-size: 48px;
    text-transform: uppercase;
}

.container-featured-dishes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.container-featured-dishe .card .card-body .card-title{
    font-family: "Arvo-Bold";
    font-size: 18px;
}

.container-featured-dishe .card .card-body .card-text{
    font-family: "Arvo-Bold";
    font-size: 14px;
    margin: 0;
}

.container-featured-price{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-featured-button{
    color: $blanco;
    background-color: $rojo;
    border-color: $rojo;
    font-size: 16px;
    font-family: "Arvo-Bold";   
}

.container-featured-restaurant{
    display: flex;
}

.container-featured-restaurant-title{
    font-family: "Arvo-Italic";
    font-size: 12px;
    margin-bottom: 0;
    align-self: center;
    margin-left: 10px;
    text-align: left;
}

.container-featured-direction{
    display: flex;
}

.container-featured-direction-title{
    font-family: "Arvo-Italic";
    font-size: 12px;
    margin-bottom: 0;
    align-self: center;
    margin-left: 10px;
    text-align: left;
}

/**********************************/

.container-step{
    text-align: center;    
    padding: 24px;
    background-color: $negro;
}

.container-step-flex{
    display: flex;
    justify-content: space-around;
}

.container-step-title{
    font-family: "Arvo-Bold";
    font-size: 48px;
    text-transform: uppercase;
    color: $blanco;
}

.container-step-image{
    align-self: center;
}

.container-steps{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.container-steps .card{
    background-color: $negro !important;
}

.container-steps .card .card-body .card-title{
    font-family: "Arvo-Bold";
    font-size: 36px;
    color: $blanco;
}

.container-steps .card .card-body .card-text{
    font-family: "OpenSans-SemiBold";
    font-size: 18px;
    margin: 0;
    color: $blanco;
}

/**********************************/
.container-register-here{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

.container-register-here-text{
    font-family: "Arvo-Bold";
    font-size: 30px;    
}

.container-register-here-link{
    font-family: "Arvo-Bold";
    font-size: 30px;    
    color: #2D5F9A;
    text-decoration: underline;
    cursor: pointer;
}
/**********************************/

.container-reviews{
    text-align: center;    
    padding: 24px;   
    background-color: $gris; 
}

.container-reviews-title{
    font-family: "Arvo-Bold";
    font-size: 59px;
}

.container-reviews-info{
    justify-content: space-around;
    display: flex;
}

.container-reviews-info-center{
    display: flex;
    width: 60%;
    background: white;
    padding: 18px 20px;
}

.container-reviews-info-center-left{
    width: 50%;
}

.container-reviews-info-center-left .card .card-body .card-title{
    font-family: "Arvo-Bold";
    font-size: 18px;
}

.container-reviews-info-center-left .card .card-body .card-text{
    font-family: "Arvo-Bold";
    font-size: 14px;
    margin: 0;
}

.container-reviews-info-center-right{
    width: 50%;
}


.container-reviews-info-center-right-quote-text{
    font-family: 'OpenSans-Light';
    font-size: 30px;
}

.container-reviews-info-center-right-stars{    
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.container-reviews-info-center-right-people{
    margin-top: 4rem;
}

.container-reviews-info-center-right-people-text{
    font-family: "Arvo-Bold";
    font-size: 40px;
}

.container-reviews-info-right {
    align-self: center;
}

.container-reviews-info-left{
    align-self: center;
}

/**********************************/

.container-categorie{
    text-align: center;    
    padding: 24px;     
    height: 40vh;  
}

.container-categories-title{
    font-family: "Arvo-Bold";
    font-size: 59px;
}

.container-categories{
    display: flex;
    justify-content: space-around;
}

.container-categories-center{
    display: flex;    
}

.container-categories-center-info{
    margin-right: 10px;
    margin-left: 10px;
}

.container-categories-center-info .card .card-img{
    width: 220px;
    height: 130px;    
}

.container-categories-center-info .card .card-img-overlay{
    top: 30% !important;
    padding: 1.25rem 0 !important;
}

.container-categories-center-info .card .card-img-overlay .card-title{
    color: $negro;
    font-family: "Arvo-BoldItalic";
    font-size: 32px;
}
.card-img-overlay-zone{
    width: 100%;
    background-color: $blanco;
}


.container-categories-right {
    align-self: center;
}

.container-categories-left{
    align-self: center;
}

/**********************************/

.container-recommended{
    text-align: center;
    padding: 24px;
    margin-top: 3rem;
    background-color: $gris;
}

.container-recommended-nav{
    display: flex;
    justify-content: space-around;
}

.container-recommended-nav-title{
    font-family: "Arvo-Bold";
    font-size: 48px;
}

.container-recommended-navs{
    align-self: center;
}

.container-recommended-nav-link{
    font-family: "OpenSans-SemiBold";
    font-size: 24px;    
}

.br{
    border-right: 1px solid black;
    
}

.bx{
    border-right: 1px solid black;
    border-left: 1px solid black;
    
}

.bl{
    border-left: 1px solid black;
    
}

.container-recomended-info{
    margin-top: 4rem;
}

.container-recomended-info-dishe{
    flex-grow: 2;
    justify-content: center;
    display: flex;    
}

.container-recomended-info-dishe .card .row .col-md-4 img{
    width: 200px;
    height: 200px;
}
.container-recomended-info-dishe .card .row .col-md-8 .card-body
.card-title{
    font-family: "Arvo-BoldItalic";
    font-size: 30px;
    text-align: start;
    margin-left: 10px;
}

.container-recomended-info-dishe .card .row .col-md-8 .card-body
.card-text{
    font-family: "Arvo-Bold";
    font-size: 18px;
    text-align: start;
    margin-left: 10px;
}

.container-recomended-info-dishe-price{
    display: flex;
}

.container-recomended-info-dishe-price .card-text{
    font-family: "Arvo-Bold";
    font-size: 18px;
    margin-right: 3rem;
}

.container-recomended-info-stars{
    display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: 1rem;
}

/**********************************/

.container-recommended-restaurant{
    text-align: center;
    padding: 24px;
    margin-top: 3rem; 
}

.container-recommended-restaurant-reputation{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.container-recommended-restaurant-reputation-text{
    font-family: "Arvo-BoldItalic";
    font-size: 14px;
}

.container-recommended-restaurant-reputation .container-recomended-info-stars{
    display: flex;
    justify-content: center;
    width: 15px;
    height: 15px;
    margin-left: 2rem;
}

.tiempo{
    font-family: "OpenSans-Regular";
    font-size: 12px;
}

.container-recommended-restaurant .container-featured-restaurant-title{
    font-family: "Arvo-Italic";
    font-size: 22px;
    margin-bottom: 0;
    align-self: center;
    margin-left: 10px;
    text-align: left;
}
.ancho{
    width: 30rem;
}

/*****************MEDIAQUERIES***********************/
@media only screen and (max-width:320px){ 
    .container-home-title{
        font-size: 28px !important;
    }
    .container-home-subtitle{
        font-size: 12px !important;
    }
    .container-home-form{
        top: 54% !important;
    }    
    .form-inline .form-control {
        width: 260px !important;
        font-size: 13px !important;
    }
    .container-register-here-text{
        font-size: 8px !important;
    }
    .container-register-here-link{
        font-size: 7px !important;
    }
    .container-reviews-title{
        font-size: 25px !important;
    }
    .container-reviews-info-center-right-stars img{
        width: 13px !important;
    }
    .container-categories-title{
        font-size: 19px !important;
    }
    .container-categories-center-info .card 
    .card-img {
        width: 70px !important;
        height: 70px !important;
    }
    .container-categories-center-info .card 
    .card-img-overlay .card-title {
        font-size: 15px;
    }
    .container-categories-center-info .card .card-img-overlay .card-title {
        font-size: 15px !important;
    }
    .container-recomended-info-stars {        
        width: 15px;
        height: 15px;        
        margin-top: 5px;
    }

    .container-categories-right img {
        width: 20px;
        height: 20px;
    }

    .ancho{
        width: 18rem !important;
    }
}

@media only screen and (max-width:375px){ 
    .container-home-form{
        left: 11%;
    }
    .container-reviews-title{
        font-size: 30px;
    }
    
    .container-reviews-info-center-right-stars img{
        width: 20px;
    }
    .container-categories-title{
        font-size: 19px !important;
    }
}

@media only screen and (max-width:425px){
    .container-home-title{
        font-size: 34px;
        top: 14%;
    }
    .container-home-subtitle{
        font-size: 14px;
        top: 16%;    
    }
    .form-inline{
        flex-flow: column;
    }
    .form-inline .form-control{
        width: 300px;
        font-size: 15px;
    }
    .container-home-button{
        font-size: 18px;
    }
    .container-home-steps{
        padding: 0 1rem;
    }
    .container-home-steps-text{
        font-size: 10px;
    }
    .container-home-steps-info img{
        width: 40px;
        height: 40px;
    }
    /*********************/
    .container-featured-title{
        font-size: 26px;
    }
    .container-featured-dishes{
        display: flex;
        flex-flow: column;    
        margin-top: 20px;
        text-align: -webkit-center;
    }
    .container-featured-dishe{
        margin-bottom: 2rem;
    }

    /************************/
    .container-step-title{
        font-size: 38px;
    }
    .container-step-flex{
        display: inline-block;
    }
    .container-step-image{
        display: none;
    }
    /**************************/
    .container-register-here-text{
        font-size: 10px;
    }
    .container-register-here-link{
        font-size: 10px;
    }
    /**************************/
    .container-reviews-title{
        font-size: 32px;
    }
    .container-reviews-info-right img{
        width: 35px;
        height: 35px;
    }
    .container-reviews-info-left img{
        width: 35px;
        height: 35px;
    }
    .container-reviews-info-center{        
        width: 90%;        
    }
    .container-reviews-info-center-right-quote-text{
        font-size: 16px;
    }
    .container-reviews-info-center-right-stars{
        justify-content: space-around;
        margin-left: 10px;
    }
    .container-reviews-info-center-right-stars img{
        width: 25px;
        height: 25px;
    }
    .container-reviews-info-center-right-people-text{
        font-size: 16px;
    }
    .container-reviews-info-center-left .card 
    .card-body .card-title{        
        font-size: 10px;
    }
    .container-reviews-info-center-left .card 
    .card-body .card-text {        
        font-size: 10px;
        margin: 0;
    }
    .container-reviews-info-center-left .card 
    .card-body .container-featured-price{
        font-size: 10px;
    }
    .container-reviews-info-center-left .card 
    .card-body .container-featured-price .btn{
        padding: 0.075rem 0.35rem;    
    }    
    .container-featured-button{
        font-size: 10px;
    }
    .container-featured-restaurant-title{
        font-size: 8px;
    }
    .container-featured-direction-title{
        font-size: 8px;
    }
    .container-reviews-info-center-right{
        width: 40%;
    }
    .container-reviews-info-center-left{
        width: 80%;
    }
    /*****************************/
    .container-categories-title{
        font-size: 26px;
    }
    .container-categories-left img{
        width: 24px;
        height: 24px;
    }
    .container-categories-right img{
        width: 24px;
        height: 24px;
    }
    .container-categories-center-info
     .card .card-img{
        width: 100px ;
        height: 130px ;
    }
    .v{
        display: none;
    }
    .container-categories-center-info .card .card-img-overlay 
    .card-title {        
        font-size: 20px;
    }

    /*****************************/
    .container-recommended-nav-title{
        font-size: 28px;
    }
    /*****************************/
    .ancho{
        width: 23rem;
    }
}