
<!-- INICIO -->
<section id="inicio">
    <div class="container-home">
      <app-header></app-header>
        <h1 class="container-home-title">Comida a domicilio para llevar</h1>
        <h3 class="container-home-subtitle">Encuentre restaurantes y experiencias gratis</h3>
        <div class="container-home-form">
            <form class="form-inline">            
                <div class="form-group mx-sm-3">                  
                  <input type="text" class="form-control" placeholder="Introduce palabra clave para buscar">
                </div>
                <button type="submit" class="btn container-home-button">Buscar</button>
              </form>
        </div>
        <div class="container-home-steps">         
          <div class="container-home-steps-info">
            <img src="../../../../assets/img/container-step1.svg" alt="">
            <h3 class="container-home-steps-text">1. Elige tu comida</h3>
          </div>                         
          <div class="container-home-steps-info">
            <img src="../../../../assets/img/container-step2.svg" alt="">
            <h3 class="container-home-steps-text">2. Haz tu pedido</h3>
          </div>                         
          <div class="container-home-steps-info">
            <img src="../../../../assets/img/container-step3.svg" alt="">
            <h3 class="container-home-steps-text">3. Recibe tu comida</h3>
          </div>                         
        </div>
    </div>
</section>
<!-- FIN DEL INICIO -->

<!-- DESTACADOS -->
<section id="featured">
  <div class="container-featured">
    <h3 class="container-featured-title">Lo mas destacados</h3>
    <div class="container-featured-dishes">
      <div class="container-featured-dishe">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/img/dishe1.jpg" width="280px" height="190px" class="card-img-top" alt="platillo recomendado">
          <div class="card-body">
            <h5 class="card-title">Puente Tteokbokki coreano picante</h5>
            <div class="container-featured-price">
              <p class="card-text">$3000 - $5000</p>
              <a class="btn container-featured-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>          
            </div>
            <div class="container-featured-restaurant">
              <img src="../../../../assets/img/dish.svg" alt="icono">
              <p class="container-featured-restaurant-title">Restaurante Sinpo Woori Mandoo</p>
            </div>          
            <div class="container-featured-direction">
              <img src="../../../../assets/img/pin.svg" alt="icono">
              <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
            </div>          
          </div>
        </div>
      </div>
      <div class="container-featured-dishe">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/img/dishe2.jpg" width="280px" height="190px" class="card-img-top" alt="platillo recomendado">
          <div class="card-body">
            <h5 class="card-title">Bistec en salsa agridulce con vegetales</h5>
            <div class="container-featured-price">
              <p class="card-text">$2000 - $4000</p>
              <a class="btn container-featured-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>          
            </div>
            <div class="container-featured-restaurant">
              <img src="../../../../assets/img/dish.svg" alt="icono">
              <p class="container-featured-restaurant-title">Restaurante Sinpo Woori Mandoo</p>
            </div>          
            <div class="container-featured-direction">
              <img src="../../../../assets/img/pin.svg" alt="icono">
              <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
            </div>          
          </div>
        </div>
      </div>
      <div class="container-featured-dishe">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/img/dishe3.jpg" width="280px" height="190px" class="card-img-top" alt="platillo recomendado">
          <div class="card-body">
            <h5 class="card-title">Magdalena al horno con glaseado</h5>
            <div class="container-featured-price">
              <p class="card-text">$1500 - $3000</p>
              <a class="btn container-featured-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>          
            </div>
            <div class="container-featured-restaurant">
              <img src="../../../../assets/img/dish.svg" alt="icono">
              <p class="container-featured-restaurant-title">Paanaderia y pasteleria Dulce Tentacion</p>
            </div>          
            <div class="container-featured-direction">
              <img src="../../../../assets/img/pin.svg" alt="icono">
              <p class="container-featured-direction-title">Dirección: , Cundinamarca, Bogotá, Colombia</p>
            </div>          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FIN DE DESTACADOS -->

<!-- COMO FUNCIONA -->
<section id="step">
  <div class="container-step">
    <h3 class="container-step-title">Como funciona</h3>
    <div class="container-step-flex">
      <div class="container-steps">      
          <div class="card" style="width: 18rem;">
            <img src="../../../../assets/img/container-step1.svg" width="280px" height="190px" class="card-img-top" alt="Elegir la comida">
            <div class="card-body">
              <h5 class="card-title">Elige tu comida</h5>
              <div class="container-step-description">
                <p class="card-text">Puedes elegir entre mas de 800 restaurantes con delivery online</p>              
              </div>                      
            </div>
          </div>      
      </div>
      <div class="container-step-image">
        <img src="../../../../assets/img/right-arrow-white.svg" width="75px" height="75px" alt="">
      </div>      
      <div class="container-steps">      
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/img/container-step2.svg" width="280px" height="190px" class="card-img-top" alt="Elegir la comida">
          <div class="card-body">
            <h5 class="card-title">Haz tu pedido</h5>
            <div class="container-step-description">
              <p class="card-text">Es facíl y rápido. Puedes pagar online o en la entrega</p>              
            </div>                      
          </div>
        </div>      
      </div>
      <div class="container-step-image">
        <img src="../../../../assets/img/right-arrow-white.svg" width="75px" height="75px" alt="">
      </div>
      <div class="container-steps">      
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/img/container-step3.svg" width="280px" height="190px" class="card-img-top" alt="Elegir la comida">
          <div class="card-body">
            <h5 class="card-title">Recibe tu comida</h5>
            <div class="container-step-description">
              <p class="card-text">El restaurante entrega el pedido en tu puerta</p>              
            </div>                      
          </div>
        </div>      
      </div>
    </div>
</div>
</section>
<!-- FIN DE COMO FUNCIONA -->

<!-- AVISO DE REGISTRO -->
<section id="register-here">
  <div class="container-register-here">
    <h4 class="container-register-here-text">¿ Tienes algun restaurante ? no pierdas la oportunidad </h4>
    <a routerLink="/registro-restaurante" class="container-register-here-link">Registrate aqui</a>
  </div>
</section>
<!-- FIN DE AVISO DE REGISTRO -->

<!-- AVISO DE RESEÑAS RECIENTES -->
<section id="reviews">
  <div class="container-reviews">
    <h4 class="container-reviews-title"><i class="fa fa-clock-o mr-3" aria-hidden="true"></i>Reseñas recientes</h4>    
    <div class="container-reviews-info">
      <div class="container-reviews-info-left">
        <img src="../../../../assets/img/left-arrow-black.svg" alt="">
      </div>

      <div class="container-reviews-info-center">
        <div class="container-reviews-info-center-left">          
            <div class="card">
              <img src="../../../../assets/img/dishe3.jpg" width="280px" height="190px" class="card-img-top" alt="platillo recomendado">
              <div class="card-body">
                <h5 class="card-title">Magdalena al horno con glaseado</h5>
                <div class="container-featured-price">
                  <p class="card-text">$1500 - $3000</p>
                  <a class="btn container-featured-button"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>          
                </div>
                <div class="container-featured-restaurant">
                  <img src="../../../../assets/img/dish.svg" alt="icono">
                  <p class="container-featured-restaurant-title">Panaderia y pasteleria Dulce Tentacion</p>
                </div>          
                <div class="container-featured-direction">
                  <img src="../../../../assets/img/pin.svg" alt="icono">
                  <p class="container-featured-direction-title">Dirección: , Cundinamarca, Bogotá, Colombia</p>
                </div>          
              </div>
            </div>          
        </div>
        <div class="container-reviews-info-center-right">                  
          <div class="container-reviews-info-center-right-quote">                      
              <h3 class="container-reviews-info-center-right-quote-text">
                <i class="fa fa-quote-left fa-1x" aria-hidden="true"></i>            
                  Comida de calidad y a un muy buen precio.
                <i class="fa fa-quote-right fa-1x" aria-hidden="true"></i>
              </h3>   
          </div>  
          <div class="container-reviews-info-center-right-stars">
            <img src="../../../../assets/img/star 1.svg" alt="">
            <img src="../../../../assets/img/star 1.svg" alt="">
            <img src="../../../../assets/img/star 1.svg" alt="">
            <img src="../../../../assets/img/star 1.svg" alt="">
            <img src="../../../../assets/img/star 1.svg" alt="">
          </div> 
          <div class="container-reviews-info-center-right-people">
            <h3 class="container-reviews-info-center-right-people-text">Jhon Doe</h3>
            <h3 class="container-reviews-info-center-right-people-text">02 de marzo, 2021</h3>
          </div>         
        </div>
      </div>

      <div class="container-reviews-info-right">
        <img src="../../../../assets/img/right-arrow-black.svg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- FIN DE RESEÑAS RECIENTES -->

<!-- INICIO DE CATEGORIAS -->
<section id="categories">
  <div class="container-categorie">
    <h4 class="container-categories-title"><i class="fa fa-tags m-3" aria-hidden="true"></i>Buscar por categorias</h4>
    <div class="container-categories">
      <div class="container-categories-left">
        <img src="../../../../assets/img/left-arrow-black.svg" alt="">
      </div>
      <div class="container-categories-center">
        <div class="container-categories-center-info">
          <div class="card">
            <img src="../../../../assets/img/dishe1.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <div class="card-img-overlay-zone">
                <h5 class="card-title">Asiatica</h5>   
              </div>           
            </div>
          </div>
        </div>
        <div class="container-categories-center-info">
          <div class="card">
            <img src="../../../../assets/img/dishe5.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <div class="card-img-overlay-zone">
                <h5 class="card-title">Postre</h5>   
              </div>           
            </div>
          </div>
        </div>
        <div class="container-categories-center-info">
          <div class="card">
            <img src="../../../../assets/img/dishe2.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <div class="card-img-overlay-zone">
                <h5 class="card-title">Carnes</h5>   
              </div>           
            </div>
          </div>
        </div>
        <div class="container-categories-center-info v">
          <div class="card">
            <img src="../../../../assets/img/dishe4.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
              <div class="card-img-overlay-zone">
                <h5 class="card-title">Vegetariana</h5>   
              </div>           
            </div>
          </div>
        </div>
      </div>
      <div class="container-categories-right">
        <img src="../../../../assets/img/right-arrow-black.svg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- FIN DE CATEGORIAS -->

<!-- INICIO DE COMIDAS RECOMENDADAS -->
<section id="recommended">
  <div class="container-recommended">
    <div class="container-recommended-nav">
      <h4 class="container-recommended-nav-title">Comidas recomendadas</h4>
      <div class="container-recommended-navs v">
        <a href="" class="container-recommended-nav-link br">Asiaticos &nbsp;</a>
        <a href="" class="container-recommended-nav-link bx">&nbsp;Italianos&nbsp;</a>
        <a href="" class="container-recommended-nav-link bx">&nbsp;Vegetarianos&nbsp;</a>
        <a href="" class="container-recommended-nav-link bl">&nbsp;Nacionales</a>
      </div>
    </div>
    <div class="container-recomended-info">
      <div class="container-recomended-info-dishe"> 
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="../../../../assets/img/dishe3.jpg" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Magdalena al horno con glaseado</h5>                
                <p class="card-text">
                  Descripcion general del platillo, recta, recomendaciones, etc.
                </p>
                <div class="container-recomended-info-dishe-price">
                  <p class="card-text">$3000 - $4000</p>
                  <div class="container-recomended-info-stars">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                  </div>                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 v" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="../../../../assets/img/dishe6.jpg" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Pastel de carne</h5>                
                <p class="card-text">
                  Descripcion general del platillo, recta, recomendaciones, etc.
                </p>
                <div class="container-recomended-info-dishe-price">
                  <p class="card-text">$3000 - $4000</p>
                  <div class="container-recomended-info-stars">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                  </div>                
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <div class="container-recomended-info-dishe v"> 
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="../../../../assets/img/dishe7.jpg" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Servicio de sushi</h5>                
                <p class="card-text">
                  Descripcion general del platillo, recta, recomendaciones, etc.
                </p>
                <div class="container-recomended-info-dishe-price">
                  <p class="card-text">$3000 - $4000</p>
                  <div class="container-recomended-info-stars">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                  </div>                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="../../../../assets/img/dishe8.jpg" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Combo de hamburguesa</h5>                
                <p class="card-text">
                  Descripcion general del platillo, recta, recomendaciones, etc.
                </p>
                <div class="container-recomended-info-dishe-price">
                  <p class="card-text">$3000 - $4000</p>
                  <div class="container-recomended-info-stars">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                    <img src="../../../../assets/img/star 1.svg" alt="">
                  </div>                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FIN DE COMIDAS RECOMENDADAS -->

<!-- INICIO DE RESTAURANTE RECOMENDADOS -->
<section id="recommended-restaurant">
  <div class="container-recommended-restaurant">
    <div class="container-recommended-nav">
      <h4 class="container-recommended-nav-title">Restaurantes recomendados</h4>
      <div class="container-recommended-navs v">
        <a href="" class="container-recommended-nav-link br">Asiaticos &nbsp;</a>
        <a href="" class="container-recommended-nav-link bx">&nbsp;Italianos&nbsp;</a>
        <a href="" class="container-recommended-nav-link bx">&nbsp;Vegetarianos&nbsp;</a>
        <a href="" class="container-recommended-nav-link bl">&nbsp;Nacionales</a>
      </div>
    </div>
    <div class="container-featured-dishes">
      <div class="container-featured-dishe">
        <div class="card ancho" >
          <img src="../../../../assets/img/restaurante1.png" width="280px" height="190px" class="card-img-top" alt="Pepe in Grani">
          <div class="card-body">                     
            <div class="container-featured-restaurant">
              <img src="../../../../assets/img/dish.svg" alt="icono">
              <p class="container-featured-restaurant-title">Pepe In Grani</p>
            </div>          
            <div class="container-featured-direction">
              <img src="../../../../assets/img/pin.svg" alt="icono">
              <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
            </div> 
            <div class="container-recommended-restaurant-reputation">
              <h4 class="container-recommended-restaurant-reputation-text">Reputación:</h4>
              <div class="container-recomended-info-stars">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
              </div>
            </div> 
            <p class="tiempo">Tiempo estimado para el domicilio: 40 min</p>        
          </div>
        </div>
      </div>
      <div class="container-featured-dishe">
        <div class="card ancho" >
          <img src="../../../../assets/img/restaurante2.png" width="280px" height="190px" class="card-img-top" alt="Heladeria Dulce Tentación">
          <div class="card-body">                     
            <div class="container-featured-restaurant">
              <img src="../../../../assets/img/dish.svg" alt="icono">
              <p class="container-featured-restaurant-title">Heladeria Dulce Tentación</p>
            </div>          
            <div class="container-featured-direction">
              <img src="../../../../assets/img/pin.svg" alt="icono">
              <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
            </div>  
            <div class="container-recommended-restaurant-reputation">
              <h4 class="container-recommended-restaurant-reputation-text">Reputación:</h4>
              <div class="container-recomended-info-stars">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
              </div>
            </div> 
            <p class="tiempo">Tiempo estimado para el domicilio: 40 min</p>        
          </div>
        </div>
      </div>      
    </div>

    <div class="container-featured-dishes">
      <div class="container-featured-dishe">
        <div class="card ancho" >
          <img src="../../../../assets/img/restaurante3.jpg" width="280px" height="190px" class="card-img-top" alt="Potrillo's Hot Dogs">
          <div class="card-body">                       
            <div class="container-featured-restaurant">
              <img src="../../../../assets/img/dish.svg" alt="icono">
              <p class="container-featured-restaurant-title">Potrillo's Hot Dogs</p>
            </div>          
            <div class="container-featured-direction">
              <img src="../../../../assets/img/pin.svg" alt="icono">
              <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
            </div> 
            <div class="container-recommended-restaurant-reputation">
              <h4 class="container-recommended-restaurant-reputation-text">Reputación:</h4>
              <div class="container-recomended-info-stars">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
              </div>
            </div> 
            <p class="tiempo">Tiempo estimado para el domicilio: 40 min</p>        
          </div>
        </div>
      </div>
      <div class="container-featured-dishe">
        <div class="card ancho" >
          <img src="../../../../assets/img/restaurante4.jpeg" width="280px" height="190px" class="card-img-top" alt="Restaurante Cooking Taichi">
          <div class="card-body">                
            <div class="container-featured-restaurant">
              <img src="../../../../assets/img/dish.svg" alt="icono">
              <p class="container-featured-restaurant-title">Restaurante Cooking Taichi</p>
            </div>          
            <div class="container-featured-direction">
              <img src="../../../../assets/img/pin.svg" alt="icono">
              <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
            </div>  
            <div class="container-recommended-restaurant-reputation">
              <h4 class="container-recommended-restaurant-reputation-text">Reputación:</h4>
              <div class="container-recomended-info-stars">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
              </div>
            </div> 
            <p class="tiempo">Tiempo estimado para el domicilio: 40 min</p>        
          </div>
        </div>
      </div>      
    </div>

    <div class="container-featured-dishes">
      <div class="container-featured-dishe">
        <div class="card ancho" >
          <img src="../../../../assets/img/restaurante5.jpg" width="280px" height="190px" class="card-img-top" alt="platillo recomendado">
          <div class="card-body">                  
            <div class="container-featured-restaurant">
              <img src="../../../../assets/img/dish.svg" alt="icono">
              <p class="container-featured-restaurant-title">Nombre por definir???</p>
            </div>          
            <div class="container-featured-direction">
              <img src="../../../../assets/img/pin.svg" alt="icono">
              <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
            </div> 
            <div class="container-recommended-restaurant-reputation">
              <h4 class="container-recommended-restaurant-reputation-text">Reputación:</h4>
              <div class="container-recomended-info-stars">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
              </div>
            </div> 
            <p class="tiempo">Tiempo estimado para el domicilio: 40 min</p>        
          </div>
        </div>
      </div>
      <div class="container-featured-dishe">
        <div class="card ancho" >
          <img src="../../../../assets/img/restaurante6.png" width="280px" height="190px" class="card-img-top" alt="Restaurante Sinpo Woori Mandoo">
          <div class="card-body">                      
            <div class="container-featured-restaurant">
              <img src="../../../../assets/img/dish.svg" alt="icono">
              <p class="container-featured-restaurant-title">Restaurante Sinpo Woori Mandoo</p>
            </div>          
            <div class="container-featured-direction">
              <img src="../../../../assets/img/pin.svg" alt="icono">
              <p class="container-featured-direction-title">Dirección: 37-3 Insa-dong, Jongno-gu, Seoul, Corea del Sur</p>
            </div>  
            <div class="container-recommended-restaurant-reputation">
              <h4 class="container-recommended-restaurant-reputation-text">Reputación:</h4>
              <div class="container-recomended-info-stars">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
                <img src="../../../../assets/img/star 1.svg" alt="">
              </div>
            </div> 
            <p class="tiempo">Tiempo estimado para el domicilio: 40 min</p>        
          </div>
        </div>
      </div>      
    </div>
  </div>
</section>
<!-- FIN DE RESTAURANTE RECOMENDADOS -->