@import "../../../../styles.scss";

.container-home{    
    background-image: url('../../../../assets/img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;    
    width: 100%;
}

.container-home::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.7);
    position: absolute;
}

.container-home-title{
 font-family: "Arvo-Bold";
 font-size: 72px;
 text-align: center;
 color: $blanco;
 position: relative;
 top:31%;
 font-weight: 700;
}

.container-home-subtitle{
 font-family: "OpenSans-Regular";
 font-size: 48px;
 text-align: center;
 color: $blanco;
 position: relative;
 top:31%;
 font-weight: 700;
}

.container-home-form{
    position: absolute;
    left: 16%;
    top: 58%;
}

.container-home-steps{
    position: absolute;
    justify-content: space-between;
    width: 100%; 
    display: flex;    
    padding: 0 5rem;
    top: 85%;
}

.container-home-steps-text{
    color: $blanco;
    font-family: "Arvo-Bold";
    font-size: 24px;
}

.container-home-steps-info{
    display: flex;
    align-items: center;
}

.form-inline .form-control {
    display: inline-block;
    width: 700px;
    vertical-align: middle;
    border-radius: 5px;
    font-size: 30px;
    font-family: "OpenSans-Regular";
}

.btn-primary{
    color: $blanco;
    background-color: $rojo;
    border-color: $rojo;
    font-size: 30px;
    font-family: "Arvo-Bold";
}
.btn-primary:hover{
    text-decoration: underline;
}