<section>
    <div class="container-home">
        <h1 class="container-home-title">Comida a domicilio para llevar</h1>
        <h3 class="container-home-subtitle">Encuentre restaurantes y experiencias gratis</h3>
        <div class="container-home-form">
            <form class="form-inline">            
                <div class="form-group mx-sm-3">                  
                  <input type="text" class="form-control" placeholder="Introduce palabra clave para buscar">
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
              </form>
        </div>
        <div class="container-home-steps">         
          <div class="container-home-steps-info">
            <img src="../../../../assets/img/container-step1.svg" alt="">
            <h3 class="container-home-steps-text">1. Elige tu comida</h3>
          </div>                         
          <div class="container-home-steps-info">
            <img src="../../../../assets/img/container-step2.svg" alt="">
            <h3 class="container-home-steps-text">2. Haz tu pedido</h3>
          </div>                         
          <div class="container-home-steps-info">
            <img src="../../../../assets/img/container-step3.svg" alt="">
            <h3 class="container-home-steps-text">3. Recibe tu comida</h3>
          </div>                         
        </div>
    </div>
</section>
