<div class="container2">

<div class="container-title">
  <h2>Tu Cuenta</h2>
</div>
<div class="container-account2">
    <div class="lbl-menu">
        <label for="radio1">General</label>
        <label for="radio2">Orden</label>
        <label for="radio3">Direccion</label>
        <label for="radio4">Metodo de pago</label>
        <a href="/home"><label for="radio5">Salir</label></a>
    </div>
    
    <div class="content">
       
        <input type="radio" name="radio" id="radio1" checked>
        <div class="clase tabt tab1">
          <h2>Hola TuNombre, Esta es tu cuenta de usuario</h2>
          <p>Por favor revisa tu cuenta e ingresa tu informacion de usuario.</p>
      </div>
        
        <input type="radio" name="radio" id="radio2">
        <div class="clase tabt tab2">
          <div class="container-title">
            <div class="title">
              <h3>Orden #24</h3>
            </div>
            <div class="title">
              <h3>Codigo #1234</h3>
            </div>
            <div class="title">
              <h3>Fecha:15/03/2021</h3>
            </div>
            <div class="title">
              <h3>Estado</h3>
            </div>
          </div>
          <div class="container-title">
            <div class="title">
              <h4>Servicio de sushi</h4>
            </div>
            <div class="title">
              <h4>No entregado</h4>
            </div>
          </div>
          <div class="container-title">
            <div class="title">
              <h4>Servicio de sushi</h4>
            </div>
            <div class="title">
              <h4>No entregado</h4>
            </div>

          </div>
          <div class="container-title">
            <div class="title">
              <h4>Servicio de sushi</h4>
            </div>
            <div class="title">
              <h4>No entregado</h4>
            </div>
          </div>
          <div class="container-title">
            <div class="title">
              <h3>Orden #25</h3>
            </div>
            <div class="title">
              <h3>Codigo #12345</h3>
            </div>
            <div class="title">
              <h3>Fecha:15/03/2021</h3>
            </div>
            <div class="title">
              <h3>Estado</h3>
            </div>
          </div>
          <div class="container-title">
            <div class="title">
              <h4>Servicio de carne</h4>
            </div>
            <div class="title">
              <h4>Entregado</h4>
            </div>
          </div>
          <div class="container-title">
            <div class="title">
              <h4>Servicio de pollo</h4>
            </div>
            <div class="title">
              <h4>Entregado</h4>
            </div>
          </div>
        </div>
        
        <input type="radio" name="radio" id="radio3">
        <div class="clase tabt tab3">
          <h2>Direccion</h2>
          <div class="container-direccion">
            <br>Estado<input class="form-control" type="text" placeholder="Tachira"><br>
            Municipio<input class="form-control" type="text" placeholder="San Cristobal"><br>
            Parroquia<input class="form-control" type="text" placeholder="San Juan Bautista"><br>
            Direccion<input class="form-control" type="text" placeholder="calle y carrera"><br>
            <button class="btn container-home-button">Guardar</button>
          </div>
        </div>
        
        <input type="radio" name="radio" id="radio4">
        <div class="clase tabt tab4">
            <h2>Metodos</h2>
            <br>
            <div class="container-metodos">
              <h4>Añadir un nuevo metodo de pago</h4>
              <button class="btn container-home-button">Añadir</button>
            </div>
        </div>
    </div>
</div>
</div>

<section id="account">
  <div class="container-account">
    <h2 class="container-account-title">Tu Cuenta</h2>
      <div class="container-accordion">
        <div class="container-accordion-item" id="question4">
            <a class="container-accordion-link" href="/tu-cuenta#question4">
                General
                <i class="fas fa-chevron-right"></i>
                <i class="fas fa-chevron-down"></i>
            </a>
            <div class="container-answer">
              <h2>Hola TuNombre, Esta es tu cuenta de usuario</h2>
              <p>Por favor revisa tu cuenta e ingresa tu informacion de usuario.</p>
              
            </div>
        </div>
        <div class="container-accordion-item" id="question2">
            <a class="container-accordion-link" href="/tu-cuenta#question2">
                Orden
                <i class="fas fa-chevron-right"></i>
                <i class="fas fa-chevron-down"></i>
            </a>
            <div class="container-answer">
              <div class="tabt">
                <div class="container-title">
                  <div class="title">
                    <h3>Orden #24</h3>
                  </div>
                  <div class="title">
                    <h3>Codigo #1234</h3>
                  </div>
                  <div class="title">
                    <h3>Fecha:15/03/2021</h3>
                  </div>
                  <div class="title">
                    <h3>Estado</h3>
                  </div>
                </div>
                <div class="container-title">
                  <div class="title">
                    <h4>Servicio de sushi</h4>
                  </div>
                  <div class="title">
                    <h4>No entregado</h4>
                  </div>
                </div>
                <div class="container-title">
                  <div class="title">
                    <h4>Servicio de sushi</h4>
                  </div>
                  <div class="title">
                    <h4>No entregado</h4>
                  </div>
      
                </div>
                <div class="container-title">
                  <div class="title">
                    <h4>Servicio de sushi</h4>
                  </div>
                  <div class="title">
                    <h4>No entregado</h4>
                  </div>
                </div>
                <div class="container-title">
                  <div class="title">
                    <h3>Orden #25</h3>
                  </div>
                  <div class="title">
                    <h3>Codigo #12345</h3>
                  </div>
                  <div class="title">
                    <h3>Fecha:15/03/2021</h3>
                  </div>
                  <div class="title">
                    <h3>Estado</h3>
                  </div>
                </div>
                <div class="container-title">
                  <div class="title">
                    <h4>Servicio de carne</h4>
                  </div>
                  <div class="title">
                    <h4>Entregado</h4>
                  </div>
                </div>
                <div class="container-title">
                  <div class="title">
                    <h4>Servicio de pollo</h4>
                  </div>
                  <div class="title">
                    <h4>Entregado</h4>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
        <div class="container-accordion-item" id="question3">
            <a class="container-accordion-link" href="/tu-cuenta#question3">
                Direccion
                <i class="fas fa-chevron-right"></i>
                <i class="fas fa-chevron-down"></i>
            </a>
            <div class="container-answer">
              <div class="tabt">
                <h2>Direccion</h2>
                <div class="container-direccion">
                  <br>Estado<input class="form-control" type="text" placeholder="Tachira"><br>
                  Municipio<input class="form-control" type="text" placeholder="San Cristobal"><br>
                  Parroquia<input class="form-control" type="text" placeholder="San Juan Bautista"><br>
                  Direccion<input class="form-control" type="text" placeholder="calle y carrera"><br>
                  <button class="btn container-home-button">Guardar</button>
                </div>
              </div>
            
          </div>
        </div>   
        <div class="container-accordion-item" id="question1">
          <a class="container-accordion-link" href="/tu-cuenta#question1">
              Metodos de pago
              <i class="fas fa-chevron-right"></i>
              <i class="fas fa-chevron-down"></i>
          </a>
          <div class="container-answer">
              
            <div class="tabt">
              <h2>Metodos</h2>
              <br>
              <div class="container-metodos">
                <h4>Añadir un nuevo metodo de pago</h4>
                <button class="btn container-home-button">Añadir</button>
              </div>
          </div>
            
          </div>
        </div>
        <div class="container-accordion-item" id="">
          <a class="container-accordion-link" href="/home">
              Salir
          </a>
      </div>
      
      </div>
  </div>
</section>

