<section>

    <div class="container-home">
        <app-header></app-header>
        
        <div class="container-home-signup">
            <div class="container-home-signup-zone container-center">
                
                <table>
                    <tr>
                        <th colspan="2"><h1 class="container-home-signup-title">Registro de Restaurante</h1></th>
                    </tr>
                    <tr>
                        <td><input class="form-control mb-2" type="text" placeholder="Nombre"></td>
                        <td><input class="form-control mb-2" type="text" placeholder="Documento Nacional"></td>
                    </tr>
                    <tr>
                        <td><input class="form-control mb-2" type="text" placeholder="Estado"></td>
                        <td><input class="form-control mb-2" type="text" placeholder="Ciudad"></td>
                    </tr>
                    <tr>
                        <td><input class="form-control mb-2" type="text" placeholder="Parroquia"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input class="form-control mb-2" type="text" placeholder="Dirrecion"></td>
                    </tr>
                    <tr>
                        <td><input class="form-control mb-2" type="text" placeholder="Numero Local"></td>
                        <td><input class="form-control mb-2" type="text" placeholder="Categoria"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="container-home-sign-zone-check">
                                <div class="form-check"></div>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label fuente" for="defaultCheck1">
                                    Acepto los terminos y condiciones
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><button class="btn container-home-button">Limpiar</button></td>
                        <td><button class="btn container-home-button">Registrar</button></td>
                    </tr>
                </table>

            </div>                                                
        </div>          
    </div> 

</section>