<section>
    <div class="container-home">
        <app-header></app-header>
        <div class="container-home-login">
            <div class="container-home-login-zone">
                <h1 class="container-home-login-title">Iniciar a mi cuenta</h1>
                <button class="btn container-home-button-facebook">Continuar con facebook</button>
                <p class="container-home-login-text">O ingresa tu email</p>
                <input class="form-control mb-2" type="text" placeholder="Email">
                <input class="form-control" type="password" placeholder="Password">
                <div class="container-home-login-zone-check">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                          Recordarme
                        </label>
                    </div>
                    <a href="#">Olvide mi contraseña</a>
                </div>
                <button class="btn container-home-button">Ingresar</button>
                <div class="registro">
                    <p class="mb-0">¿Todavia no tienes cuenta?</p>
                    <a routerLink="/signup">Regístrate</a>
                </div>
            </div>            
        </div>
    </div>
</section>
