@import "../../../../styles.scss";

.container-home-login{
    position: absolute;
    top: 20%;
    left: 34%;
    width: 25%;
    height: 70%;    
    padding: 26px;        
}

.container-home-login::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blanco;
    opacity: 0.95;
    border-radius: 10px;
}

.container-home-login-zone{
    position: relative;
    text-align: center;    
}
.container-home-login-title{
    font-family: "Arvo-Bold";
    font-size: 28px;    
}

.container-home-button-facebook{
    color: $blanco;
    background-color: #2D5F9A;
    border-color: #2D5F9A;
    font-size: 20px;
    font-family: "Arvo-Bold";
}

.container-home-login-text{
    font-family: "Arvo-Italic";
    font-size: 12px;
    margin-top: 1rem;
}

.form-control{
    font-family: 'OpenSans-Regular';
}

.container-home-login-zone-check{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.container-home-login-zone-check label a{
    font-family: 'OpenSans-Regular';
    font-size: 12px;
}

.container-home-button{
    margin-top: 2rem;
    color: $blanco;
    background-color: $rojo;
    border-color: $rojo;
    font-size: 20px;
    font-family: "Arvo-Bold";
    padding: 5px 4.8rem;
}

.registro{
    margin-top: 1rem;
    font-family: "OpenSans-Regular";
    font-size: 14px;
}