<footer>
    <div class="row">
        <div class="col-5 container-logo offset-1">
            <a routerLink="/home">
                <img src="../../../assets/img/logo1 1.png" alt="logo">
            </a>
        </div>
        <div class="col-4 col-sm-2 container-footer-info">
            <h3 class="container-footer-info-title">Acerca de</h3>
            <p class="container-footer-info-link">Acerca de nosotros</p>
            <p class="container-footer-info-link">Contacto</p>
            <p class="container-footer-info-link">Equipo</p>
            <p class="container-footer-info-link">Reseña historica</p>
        </div>
        <div class="col-4 col-sm-2  container-footer-info">
            <h3 class="container-footer-info-title">Comida</h3>
            <p class="container-footer-info-link">Acerca de nosotros</p>
            <p class="container-footer-info-link">Contacto</p>
            <p class="container-footer-info-link">Equipo</p>
            <p class="container-footer-info-link">Reseña historica</p>
        </div>
        <div class="col-4 col-sm-2  container-footer-info">
            <h3 class="container-footer-info-title">Recomendados</h3>
            <p class="container-footer-info-link">Acerca de nosotros</p>
            <p class="container-footer-info-link">Contacto</p>
            <p class="container-footer-info-link">Equipo</p>
            <p class="container-footer-info-link">Reseña historica</p>
        </div>
    </div>
</footer>
