/*Colors*/
$rojo: #F5394B;
$blanco: #ffffff;
$negro: #000000;
$gris: #F0F0F0;
/*****************/

/*Fonts Arvo*/
@font-face {
    font-family: 'Arvo-Bold';
    font-style: normal;
    font-weight: normal;    
    src: local('Arvo-Bold'), url('assets/fonts/Arvo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Arvo-BoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Arvo-BoldItalic'), url('assets/fonts/Arvo-BoldItalic.ttf') format('truetype')
}

@font-face {
    font-family: 'Arvo-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Arvo-Italic'), url('assets/fonts/Arvo-Italic.ttf') format('truetype')
}

@font-face {
    font-family: 'Arvo-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arvo-Regular'), url('assets/fonts/Arvo-Regular.ttf') format('truetype')
}
/*****************/

/*Fonts OpenSans*/

@font-face {
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('OpenSans-Bold'), url('assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('OpenSans-BoldItalic'), url('assets/fonts/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('OpenSans-ExtraBold'), url('assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-ExtraBoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('OpenSans-ExtraBoldItalic'), url('assets/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('OpenSans-Italic'), url('assets/fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    font-style: normal;
    font-weight: normal;
    src: local('OpenSans-Light'), url('assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-LightItalic';
    font-style: normal;
    font-weight: normal;
    src: local('OpenSans-LightItalic'), url('assets/fonts/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('OpenSans-Regular'), url('assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('OpenSans-SemiBold'), url('assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-SemiBoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('OpenSans-SemiBoldItalic'), url('assets/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
}
/*****************/

.container-home{    
    background-image: url('./assets/img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;    
    width: 100%;
}

.container-home::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.3);
    position: absolute;
}

/*----------------CONTAINERS-GENERALES----------------------*/

.container-center{
    display: flex;
    justify-content: center;
}

.position-relative-center-x-y{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.five-stars, .five-stars-empty{
    display: inline-block;
    width: 100px;
    height: 20px;

    background-image: url("assets/img/star.png");
    background-repeat: repeat-x;
    background-size: 20px;
}

.icon-plus, .icon-less{
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;

    background-image: url("assets/img/icon-plus.png");
    background-repeat: no-repeat;
    background-size: 25px;
}

.five-stars-empty{
    background-image: url("assets/img/star_empty.png");
}

.icon-less{
    background-image: url("assets/img/icon-less.png");
}

.purchase-amount{
    width: 40px; 
    height: 30px;

    line-height: normal;
    margin-left: 5px;
    margin-right: 5px;
}