@import "../../../../styles.scss";
.container-contacto{  
    
    background-image: url('../../../../assets/img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;    
    width: 100%;

}
.container-contacto-information{
position: absolute;
width: 336px;
height:153;
left: 0px;
top: 231px;
}


.container-logo{
    position: absolute;
    width: 212px;
    height: 120px;
    left:400px;
    top:220px;
    
    
    }
   

.container-logo-img{
    position:absolute;
    width:280px;
    height:150px;
    left:-26px;
    top: 7%;
    display: block;
    text-align: center;
    font-size: 75%;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.container-contacto-information{

position: absolute;
width: 300px;
height: 120;
left:600px;
top:220px;
border-radius:5px;
background: rgba(229,229,229,0.33)
}
.container-email{
    position:absolute;
    left:5.97%;
    right: 13.07;
    top:5.26%;
    bottom:72.62%;
    font-family: Arvo;
    font-style:italic;
    font-weight:bold;
    font-size:14px;
    line-height: 17px;
    display:flex;
    align-items:center;
    color:black;


}
.container-phone{
    position:absolute;
    left:6.53%;
    right: 12.5;
    top:27.37%;
    bottom:50.53;
    font-family:Arvo;
    font-style: italic;
    font-weight: bold;
    font-size:14px;
    line-height: 17px;
    display:flex;
    align-items: center;
    color:black;


}
.container-socialmedia{
position: absolute;
left:7.1%;
right: 22.44;
top:50%;
bottom: 15.35%;
font-family: Arvo;
font-style: italic;
font-weight:bold;
font-size:14px;
line-height: 17px;
display:flex;
align-items:center;
color:black;
}
.container-description{
 position:absolute;
 width: 1440;  
 height: 1300px;
 left:0px;
 top:477;
 

}
.rectangle-contents{
position: absolute;
left:0%;
right: 0%;
top:0;
bottom:-94.2%;
background: rgba(229,229,229,0.21);

}
.rectangle-text{
    position: absolute;
    width: 1500px;
    height: 150px;
    left: 0px;
    top: 430px;
    background: #FFFFFF;


}

.about-us{
position:absolute;
left:19.63%;
right:45.49%;
top: 2.73%;
bottom:73.64%;
font-family:Arvo;
font-style:normal;
font-weight:bold;
font-size:26px;
line-height:32px;
display:flex;
align-items:center;
color:black;


}
.Makro-decription{
    position:absolute;
    left: 1.46%;
    right:7.2%;
    top: 35%;
    bottom:3.18%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color:black;


}