<section>
  
  <div class="container-contacto" >
    <app-header></app-header>
      
        <div class="container-logo">
            <div class="container-logo-img mb-30"></div>
            <img src="../../../assets/img/logo1 1.png" class ="image-top"alt="logo">
        </div>
         <div class=container-contacto-information>
            <br>
            <br>
            <h1 class="container-email">Correo:makrotiendavirtual@gmail.com</h1>
             <br>
             <br>
             
             <h4 class="container-phone">Telefono:+58 0276-332-1456</h4>
        
             <h5 class="container-socialmedia">Redes sociales:Instagram:@somosmakrotienda Facebook:makrotienda
             </h5>
          </div>
        <div class="container-description">
            <div class="rectangle-contents">
            <div class="rectangle-text">
                <br>
                <h1 class="about-us">Acerca de nosotros</h1>
                  <br> 
                <p class="Makro-decription">Nuestra Plataforma fue creada en el año 2020,para nosostros es muy importante que puedan sentirse comodos,cada vez que usen esta aplicacion es por ello 
                 que tiene la finalidad de  poder  de brindarles un gran variedad de restaurantes,variedad de platillos y tipos de comida.Tambien les permite que tengan la posibilidad de registar su restaurante en caso de poseean alguno. 
                 Esperamos se sientan a gusto usando este sistema web y sobretodo que aprovechen cada una de las ventajas que ofrece la misma. </p>
           
            </div>
        </div>
        </div>
            
       

  </div>


</section>