<section id="Inicio-Search-Restauramt">
   <div class="frame-restaurant">
     <div class="Search-Restaurant">
       <app-header></app-header>
      
      <div class="container-header-upper">
          <h1 class="Titulo-de-busqueda">Busca tu comida o restaurante favorito</h1>
          <h2 class="Subtitulo-de-busqueda">Encuentre restaurantes y experiencias, gratis</h2>
      </div><!--fin container-header-upper-->
      <div class="container-header-lower">
          <div class="zona-de-busqueda">
              <h3 class="palceholder-busqueda">Introduce una palabra clave para buscar</h3>
            </div> <!--fin zona de busqueda--> 
              <div class="seleccion-comida-restaurant">
                 <h3 class="text-seleccion-comida-restaurant">Comida</h3> 
              </div><!--fin seleccion de comida restaurant-->
              <div class="rectangle-seleccion">
                  <div class="seleccion-comida-img">
                    <img src="../../../../assets/img/down-arrow 1.png" alt="down"> 
                  </div> <!--fin seleccion de comida-->
  
             </div><!--fin rectangle-seleccion-->
             <div class="boton-zona-de-busqueda">
              <button type="button" class="btn boton-zona-de-busqueda button">Buscar</button>
             </div>
          
      </div><!--fin continer-header-lower-->
            <div class="container-filtres-dishes">
                <div class="zona-de-filtro">
                    <div class="container-search-category">
                      <div class="zona-de-categoria">
                         <h1 class="categoria">Buscar Categoria</h1>
                      </div>
                     
                      
                     </div>
                      <div class="container-food-types">
                        <div  class="rectangle-types">
                            <div class="checkbox-1">
                            </div>
                            <div class="checkbox-2">
                            </div> 
                            <div class="checkbox-3">
                            </div> 
                            <div class="checkbox-4">
                            </div> 
                            <div class="checkbox-5">
                            </div> 
                            <div class="checkbox-6">
                            </div> 
                            <div class="checkbox-7">
                            </div> 
                            <div class="checkbox-8">
                            </div> 
                           
                           
                        
                        </div><!--fin rectangle-types-->

                      </div><!--fin container-food-types-->

                      <div class="container-names-category">
                        <h2 class="name-1">Italiana</h2>
                        <h2 class="name-2">Asiatico</h2>
                        <h2 class="name-3">Carnes</h2>
                        <h2 class="name-4">Vegetariana</h2>
                        <h2 class="name-5">Rapida</h2>
                        <h2 class="name-6">Internacional</h2>
                        <h2 class="name-7">Heladeria</h2>
                        <h2 class="name-8">Postres</h2>
                       
                      </div><!---fin container-names-category-->
                      <div class="container-delivery">
                        <div class="types-delivery">
                          <h1 class="text-types-delivery">Tipos de entrega</h1>
                        </div>
                        <div class="container-delivery-text">
                           <div class="delivery">
                             <h2 class="delivery-text">Domicilio</h2>
                           </div>
                           <div class="to-carry-out">
                            <h2 class="to-carry-out-text">Llevar</h2>
                          </div>
                          <div class="Reserve">
                            <h2 class="Reserve-text">Reservar</h2>
                          </div>
                        </div>
                         
                        
                      </div><!--Fin container delivery-->
                      <div class="container-tags">
                        <h1 class="tags-title">Etiquetas</h1>
                       <div class="container-tags-components">
                         <div class="Top-Asiatica">
                           <h2 class="text-asiatica">Top de Asiatica</h2>
                         </div>
                         <div class="Top-Italiana">
                          <h2 class="text-italiana">Top de Italiana</h2>
                        </div>
                        <div class="Mejores-Postres">
                          <h2 class="text-mejores-postres">Mejores Postres</h2>
                        </div>
                        <div class="Mejores-Helados">
                          <h2 class="text-mejores-helados">Mejores helados</h2>
                        </div>
                        <div class="Vegetariana">
                          <h5 class="text-vegetariana">Top de Vegetariana</h5>
                        </div>
                        <div class="Internacional">
                          <h5 class="text-internacional">Top de Internacional</h5>
                        </div>
                       </div> 
                      </div>
                      
                    
              </div><!--Fin zona de filtro-->
            </div><!--Fin container-filtres-dishes-->
        </div>   <!--fin search-restaurant-->  
    </div> <!--fin frame restaurant-->
         
     
      

  
       
    
</section>   